.events-container {
    height: 100%;
    width: 100%;

}

.countdown {
    height: 15%;
}

.activites {
    height: 30%;
}

.activites div {
    display: flex;
    justify-content: center;
}

.leaderboard {
    text-align: center;
    height: 59%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard table {
    border: black solid 2px;
    width: 70%;
}

