html, body {
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.window-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    border: black solid 2px;
    border-radius: .5rem;
    width: 30%;
    height: 90%;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.login-container input {
    width: 70%;
    padding: 1rem;
    outline: none;
    border-radius: .3rem;
    margin-top: .4rem;
    margin-bottom: .7rem;
    border: black solid 2px;
    font-size: 20px;
    
}

.login-container button {
    width: 56.5%;
    font-size: 20px;
    padding: 1.4rem;
    margin-top: 2rem;
    background-color: #5EBA7D;
    border: none;
    border-radius: 1.4rem;
    color: white;
}

.login-container i {
    position: absolute;
    top: 316px;
    left: 1130px;
    font-size: 24px;
}

#eye {
    top: 393px;
}

.sign-in-up-container h1 {
    text-align: left;
    margin-left: 4.2rem;
    font-size: 40px;
}

.sign-in-up-container a {
    color: #5EBA7D;
    text-decoration: none;
    margin-left: 6px;
}

.sign-in-up-container img {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}